include mixins/activity
include mixins/heart
include mixins/logo
include mixins/userBadge

if !isAjax
	doctype html
	html
		head
			!= newrelic.getBrowserTimingHeader()
			title Mikuia
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
			link(rel='stylesheet', href='/css/mikuia.css')
			script(type='text/javascript', src='//code.jquery.com/jquery-1.10.2.min.js')
			script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
			script(type='text/javascript', src='/socket.io/socket.io.js')
			script(type='text/javascript', src='/js/mikuia.js')
			script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.3.1/jquery.timeago.min.js')
			script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.js')
			script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
		body(data-spy='scroll', data-target='#affix-nav')
			nav.navbar.navbar-default.navbar-static-top(role='navigation')
				.container.navbar-content
					div.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							| Mikuia
							span.font-small  ALPHA
					div.collapse.navbar-collapse#navbar-collapse
						ul.nav.navbar-nav
							li
								a(href='/')
									i.fa.fa-home
									|  Home
							li
								a(href='http://forums.mikuia.tv')
									i.fa.fa-group
									|  Forums
							li
								a(href='/guide')
									i.fa.fa-book
									|  Guide
							li
								a(href='/leaderboard')
									i.fa.fa-trophy
									|  Leaderboard
							li
								a(href='/faq')
									i.fa.fa-user
									|  FAQ
							li
								a(href='http://github.com/Maxorq/Mikuia', target='_blank')
									i.fa.fa-github-alt
									|  GitHub
						ul.nav.navbar-nav.navbar-right
							if !user
								li
									a.noajax(href='/auth/twitch') Login with Twitch
							else
								li.dropdown
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										img(width='16', height='16', src='#{user._json.logo}')
										|  #{user._json.display_name} 
										b.caret
									ul.dropdown-menu
										li
											a(href='/profile/#{user._json.display_name}') Profile
										li.divider
										li
											a(href='/settings') Settings
										li
											a(href='/commands') Commands
										li
											a(href='/plugins') Plugins
										li.divider
										li
											a.noajax(href='/logout') Logout
				.container.navbar-alert(style='display: none;')
					.navbar-brand Yes.
		#content
			block content
			script(type='text/javascript').
				$('abbr.timeago').timeago()
				$('[rel=tooltip]').tooltip()
			block footerScript
		#spinner(style='display: none; position: absolute; left: 50%; top: 50%;')
			img(src='/img/spinner.gif')
		.container.footer
			.pull-right
				| Made by 
				a(href='http://github.com/Maxorq', target='_blank') Maxorq 
				| (
				a(href='http://twitch.tv/Hatsuney', target='_blank') Hatsuney
				| )
		br
else
	block content
	script(type='text/javascript').
		$('abbr.timeago').timeago()
		$('[rel=tooltip]').tooltip()
		$.backstretch('destroy')
	block footerScript