label {
	font-weight: 300;
}

.index-screenshot {
	border: 1px solid #ccc;
	box-shadow: 2px 2px #ddd;
	padding: 5px;
}

.index-supported-img {
	height: 32px;
	width: 32px;
}

.input-group {
	margin-bottom: 5px;
}

.jumbotron a {
	color: white;
}

.jumbotron .index-screenshot {

}

.jumbotron .text-muted {
	color: #ddd;
}

.navbar-error {
	box-shadow: 0px 10px 50px red;
}

.navbar-success {
	background-color: #dff0d8;
	border-top: 2px solid green;
	box-shadow: 0px 5px 50px #dff0d8;
}

.navbar-success .navbar-brand {
	color: green !important;
}

.text-small {
	font-size: 12px;
}